# Windows：
Thumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
.DS_Store

# My configurations:
db.ini
_runtime/
/config.php
/admin/config.php
/system/storage/cache/
/system/storage/logs/
config.php.bak
/image/cache/
